body {
  margin: 0;
  font-family: "Poppins";
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */  
}
span {
  font-family: "Poppins";
}
p{
  font-family: "Poppins";
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
